<% if signed_in? %>
  <p>Dashboard</p>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Recipe Tracker</h1>

    <p>Come up with a non-cheesey tagline.</p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-inverse" %>
  </div>
<% end %>
