<% provide(:title, 'Recipes') %>
<h1 class="your_recipes">Recipes</h1>
<%= link_to "Create New Recipe", new_recipe_path, class: "btn btn-medium btn-inverse new" %>

<ul class="recipes">
  <% @recipes.each_with_index do |recipe| %>
    <%= link_to recipe.name, recipe_path(recipe) %>
  <% end %>
</ul>
