<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
        <%= gravatar_for @user %>
      <h1 class="user_name">
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<h1 class="favorite_recipes">Your favorite recipes</h1>
<div class="favorites">
  <% current_user.favorites.each do |recipe| %>
    <%= link_to recipe.name, recipe_path(recipe) %>
  <% end %>
</div>
