<% provide(:title, 'Ingredients') %>
<h1>Create Ingredients</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@ingredient) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Create Ingredient", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
