@import "bootstrap";

$grayLight: #999999;
$white: #ffffff;
$grayDarker: #222222;
$gray: #555555;
$lighterGray: #eaeaea;
$grayLighter: #eeeeee;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #FFFFFF;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.nav.pull-left {
  margin-left: 85px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.navbar.navbar-fixed-top.navbar-inverse {
  box-shadow: 0.5px 0.5px 2px #000000;
  .navbar-inner {
    border: none;
    .container {
      // background-color: #AEC4A5;
      margin: 0;
      width: 100%;
      .nav.pull-right {
        padding: 0px 100px;
        a {
          color: #DC938B;
          &:hover {
            color: #AEC4A5;
          }
        }
      }
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #E2E6E4;
  color: #525164;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* home page signed out */

.center.hero-unit {
  padding-top: 100px;
  background-image: asset-url('vegetables.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  height: 400px;
  box-shadow: 2px 2px 5px #000000;
  h1 {
    color: #FFFFFF;
  }
  p {
    text-shadow: 1px 1px 2px #000000;
    color: #FFFFFF;
    padding-top: 10px;
  }
}

/* home page signed in */

.user_name {
  color: #525164;
  text-shadow: none;
}

/* signin page */

.page_header {
  color: #E3E6E8;
  margin-top: -37px;
}

label {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 10px;
}

.create {
  margin-top: 10px;
}

.signin_link {
  color: #FFFFFF;
  &:hover {
    text-decoration: none;
    color: #AEC4A5;
  }
}

/* recipes index */

.recipes {
  a {
    display: block;
    color: #525164;
    text-decoration: none;
    margin-bottom: 10px;
    &:hover {
      color: #DC938B;
    }
  }
}

.btn.btn-medium.btn-inverse {
  margin-bottom: 10px;
}

.your_recipes {
  color: #AEC4A5;
  text-shadow: none;
}

/* recipes new */

.create_recipe, .recipe_name {
  color: #AEC4A5;
  text-shadow: none;
}

#new_recipe {
  label {
    color: #525164;
    text-shadow: none;
  }
}

#add_form_line {
  margin-bottom: 20px;
}

/* recipes show */

.recipe_description {
  margin-bottom: 25px;
}

.recipe_instructions {
  margin-top: 25px;
}

h3 {
  color: #DC938B;
}
